<html>
<head>
<meta charset="utf-8">
<title>Responsive - Premium Responsive HTML Template</title>
<meta http-equiv="content-type" content="text/html; charset=utf-8" />
<meta name="description" content="" />
<meta name="keywords" content="" />

<link rel="stylesheet" href="/css/main/5grid/core.css" />
<link rel="stylesheet" href="/css/main/5grid/core-desktop.css" />
<link rel="stylesheet" href="/css/main/5grid/core-1200px.css" />
<link rel="stylesheet" href="/css/main/5grid/core-noscript.css" />
<link rel="stylesheet" href="/css/main/style.css" />
<link rel="stylesheet" href="/css/main/style-desktop.css" />

<style>#but{
    background:#428bca;
    height: 90px;
    width: 150px;
    text-indent: -9999px;
    overflow: hidden;
    color:white;
  }</style>
<script src="css/main/5grid/jquery.js"></script>
<script src="css/main/5grid/init.js?use=mobile,desktop,1000px&amp;mobileUI=1&amp;mobileUI.theme=none"></script>
<!--[if IE 9]><link rel="stylesheet" href="css/style-ie9.css" /><![endif]-->
<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js"></script>




</head>

<body>
<div id="header-wrapper">
	<header id="header">
		
		<div class="5grid-layout">
			<div class="row">
				<div class="12u" id="menu">
					<nav class="mobileUI-site-nav">
						<ul>
							<li class="current_page_item"><a href="/">Homepage</a></li>
							<li><a href="/about">AboutUs</a></li>
							<li><a href="/contact">ContactUs</a></li>	
						{% if flag==0 %}
							<li><a href="{{login}}">Login</a></li>
						{% else %}
							<li><a href="{{logout}}">Logout</a></li>
						{% endif %}
						</ul>
					</nav>
				</div>
			</div>
		</div>
	</header>
</div>

<br/><br/>
<div id="page">
		<div class="5grid-layout">
			<div class="row">
{% for i in a %}
<table>
<tr><td><img src='/imagehandler2?key={{key}}' alt="image" style="width:200px;" /></td>
<td>
<table>
<tr>
<td>
<h1 style="font-size:40px;">{{ i.category}}</h1>
</td>
</tr>
<br/>
<tr>
<td>
<p style="font-size:20px;">{{i.heading}}</p>
</td>
</tr>
<br/>
<tr>
<td>
<p style="font-size:20px;">{{i.description}}</p>
</td>
</tr>
<br/>
<tr>
 <td>
<form id="myForm" action="/like1/{{i.key()}}" method="get"  >

		<input  style="background-image: none;border: 1px solid transparent;
border-radius: 4px;color: #fff;
background-color: #428bca;
border-color: #357ebd;float:right;" class="btn btn-primary" type="submit"  value="Like"/>
</form>
</td>
</tr>
<tr>
<td style="font-size:20px;">
<br/>
<b>
{% for i in fat %}
No of Likes: {{i.likeno}}
{%endfor%}
</b>
</td>
</tr>
<br/>
<tr>
<td>
<br/>
<form id="myForm" action="/dislike1/{{i.key()}}" method="get"  >

		<input  style="background-image: none;border: 1px solid transparent;
border-radius: 4px;color: #fff;
background-color: #428bca;
border-color: #357ebd;float:right;" class="btn btn-primary" type="submit" value="Unlike" />
</form>
</td>
</tr>
<br/>
<td style="font-size:20px;">
<br/>
<b>
{% for i in fat %}
No of DisLikes: {{i.dislikeno}}
{%endfor%}
</b>
</td>
</tr>
<br/>
<tr>
<td style="font-size:20px;">
Comments:
</tr>
</td>
<tr>
<td>
<br/>
<tr>
<td>
<br/>
{% for i in g %}
{{i.com}}
{%endfor%}
</td>
</tr>
<tr>
<td>
<br/>
<form id="myform" action="/comment1/{{i.key()}}" method="get">
 	<textarea id="com" rows="5" name="com"  height="100px"></textarea>
<br/><br/>
<input  style="background-image: none;border: 1px solid transparent;
border-radius: 4px;color: #fff;
background-color: #428bca;
border-color: #357ebd;" class="btn btn-primary" type="submit" value="Comment" />
</form>
</td>
</tr>
<tr>
<td>
<br/>
<form id="myform" action="/petit/{{i.key()}}" method="get">
<input  style="background-image: none;border: 1px solid transparent;
border-radius: 4px;color: #fff;
background-color: #428bca;
border-color: #357ebd;" class="btn btn-primary" type="submit"  value="File Petition"/>
</form>
</td>
</tr>
<tr>
<td style="font-size:20px;">
<br/>
<b>
No of Petitions: {{k}}
</b>
</td>
</tr>
</table></td>
</tr>
</table>
{%endfor%}
</div></div></div>

</body>
